
/*section dark */

.dark_h2{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-bottom: 60px;

color: #000000;
    text-align: center;
}
.dark_p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */


/* gray */

color: #999999;
}

.dark_item{
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
    padding: 60px 130px 60px;
    margin-bottom: 30px;
}
.dark_h{
    display: flex;
    text-align: center;
    justify-content:space-between;
    margin-bottom: 150px;
}
.dark_h4{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;

color: #000000;

}
.bark_h4{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;

color: #F7654A;
}