
/*hero */


.hero_title{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
text-align: center;
margin-bottom: 70px;

color: #000000;
}

.wrapper_hero{
    display: flex;
    margin-bottom: 60px;
}

.hiro_tile{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 200px;
border-bottom: 3px solid transparent;
    cursor: pointer;

color: #000000;

}

.hiro_tile:hover{
    border-bottom: 3px solid #000;
}
.img_hero{
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;

}

.img_hero:hover{
    transform: rotate(360deg);
}

