
/*section info */

.info_inner{
    display: flex;
    margin: 0 -10px;
}
.info_block{
width: 25%;
padding: -10px;
}
.info_item{
    background: #F7F7F7;
    padding: 60px 130px 60px;
}


.info_title{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

color: #000000;

}

.info_text{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

    color: #999999;
}


.info{
    transform: translateY(-50%);
}


.img_plus{
    cursor: pointer;
    transition: 5.5s;
}

.img_plus:hover{
    transform: rotate(360deg);
}