


/*intro */


.intro{
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.intro_content{
    height: 740px;
    display: flex;
    align-items: center;
}
.intro_title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;


    color: #FFFFFF;
}

.intro_h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;


    color: #FFFFFF;
}
.img_26{
    cursor: pointer;
    transition: 0.5s;

}

.img_26:hover{
    transform: rotate(360deg);
}

.info_title{
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.info_title:hover{
    border-bottom: 3px solid #000;
}