
@media screen  and (max-width:800px){
    .header{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .intro{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .info{
        max-width: 100%;
    }
    .img_26{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .second{
        max-width: 100%;
    }
}
@media screen  and (max-width:800px){
    .about{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .hero{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .doma{
        max-width: 100%;
    }
}
@media screen  and (max-width:800px){
    .contacts{
        max-width: 100%;
    }
}
@media screen  and (max-width:800px){
    .story{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .dark{
        max-width: 100%;
    }
}
@media screen  and (max-width:800px){
    .about{
        max-width: 100%;
    }
}

@media screen  and (max-width:800px){
    .sun{
        max-width: 100%;
    }
}
@media screen  and (max-width:800px){
    .footer{
        max-width: 100%;
    }
}




