

/* section sun */


.sun_h2{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
text-align: center;
margin-bottom: 60px;

color: #000000;

}


.sun_wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.sun_water{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.sun_h3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

/* gray */

color: #999999;

}

.sun_wap{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.sun_eh3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
.sun_heh3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #F7654A;
}